.searchWrapper:focus-within .searchList {
    display: block;
}

.searchList:focus-within {
    display: block;
}

.searchList {
    color: black;
    position: absolute;
    z-index: 5;
}

.searchListItem:hover {
    background-color: #aaddff;
}

.searchListItem:active {
    background-color: #4455ff;
}
.searchListItem:active .searchResultSubtitle {
    color: #000;
}

.searchResultSubtitle {
    color: #999999;
    font-size: 70%;
}

.searchBoxWrapper {
    margin-top: auto;
    margin-bottom: auto;
    height: 48px;
}

